.~lock.*.odp#
.DS\_Store
*.sw?
*~
Azureus*Downloads/
Crud/
Documents/
Downloads/
Gnucash/
My*Games/
Pictures/
Thunderbird/
bin/
develop/
rsyncbak/
Personal/
.thumbnails/
.azureus/
.bazaar/
.bzr.log
.cache/
.cddb/
.icedove/
.local/
.mozilla/
.private/
.pulse/
.pulse-cookie
.recently-used
.subversion/
.xine/
.xsession-errors*
